.cabecalho{
    text-align:center;
}
h1{
    color: #FFF;
    text-align: center;
}
h3{
    color: #FFF;
    text-align: center;
}
p{
    font-size:15px;
}
.alert-success{
    font-size: 20px;
}
img{
    width:170px;
    height:120px;

}

.panel-heading h3{
    text-align: left;
    color: #20B2AA;
    font-size: 19px;
    font-family: sans-serif;
}

.btn {
    font-size: 15px;
    font-family: sans-serif;
}
.glyphicon{
    font-size: 15px;
    margin-left:5px;
}