.cabecalho{
    background-color:#20B2AA;
}
.alert-info{
    text-align: center;
}

 li{
    text-align: left;
    font-size: 15px;
}

h5{
    color:#2F4F4F;
    font-size: 17px;
}

h1, h3{
   color: #fff;
   text-align:center;

}

h4{
    color: #fff;
   text-align:center;
}